name: $(Rev:r)
jobs:
- job: Windows
  pool:
    vmImage: 'vs2017-win2016'
  steps:
  - powershell: |
      $buildId = $env:BUILD_BUILDNUMBER.PadLeft(7, '0');
      $versionSuffixPR = "-PR$($env:SYSTEM_PULLREQUEST_PULLREQUESTNUMBER)-$buildId";
      $branchName = "$env:BUILD_SOURCEBRANCHNAME".Replace("_","");
      $versionSuffixBRANCH = "-$branchName-$buildId";
      $isTag = "$env:BUILD_SOURCEBRANCH".StartsWith('refs/tags/');
      $isPR = "$env:SYSTEM_PULLREQUEST_PULLREQUESTNUMBER" -ne ""
      $versionSuffix = if ($isTag) { "" } else { if ($isPR) { $versionSuffixPR } else { $versionSuffixBRANCH } };
      Write-Host "##vso[task.setvariable variable=VersionSuffix]$versionSuffix";
  - script: dotnet pack build.proj -v n
    displayName: Create package
    env:
      VersionSuffix: '$(VersionSuffix)'
  # - script: dotnet test build.proj -v n
  #   displayName: Run tests
  #   env:
  #     VersionSuffix: '$(VersionSuffix)'
  # - task: PublishTestResults@2
  #   inputs:
  #     testResultsFormat: 'VSTest'
  #     testResultsFiles: 'bin/test_results/*TestResults.xml'
  #   condition: succeededOrFailed()
  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: 'bin/nupkg'
      artifactName: 'nupkgs'
