version 5.203.2

source https://www.nuget.org/api/v2
framework: netcoreapp3.0, netstandard2.1
storage: none

nuget ArgU
nuget FSAst
nuget FSharp.Compiler.Service
nuget FSharp.Core strategy: min
nuget Fantomas

nuget Microsoft.NET.Test.Sdk ~> 15.9.0
nuget xunit ~> 2.4.0
nuget xunit.runner.visualstudio ~> 2.4.0

group MergeNupkgTool
source https://www.nuget.org/api/v2
frameworks: netcoreapp3.0, netstandard2.1
storage: none

clitool dotnet-mergenupkg ~> 2.4