version 6.0.13
source https://api.nuget.org/v3/index.json
framework: net50, netstandard20, netcoreapp30
storage: none

nuget Argu
nuget FSAst
nuget Fantomas ~> 4
nuget FSharp.Compiler.Service ~> 38
nuget FSharp.Core strategy: min
nuget Tomlyn
nuget Expecto
nuget Aether